#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "winres.h"


#pragma code_page(65001)

IDI_APP            ICON                    "appicon.ico"
IDI_MIC_MUTED      ICON                    "mic-muted.ico"
IDI_MIC_UNMUTED    ICON                    "mic-unmuted.ico"
IDI_MIC_ACTIVE     ICON                    "mic-active.ico"

IDR_MUTE           WAVE                    "mute.wav"
IDR_UNMUTE         WAVE                    "unmute.wav"


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_TRAY_MENU MENU
BEGIN
    POPUP "POPUP"
    BEGIN
        MENUITEM "Settings",                  ID_APP_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "Exit",                  ID_APP_EXIT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog - include separate .rc file for each window
//

/////////////////////////////////////////////////////////////////////////////
// Settings Window Dialog
/////////////////////////////////////////////////////////////////////////////

IDD_SETTINGS DIALOGEX 0, 0, 270, 170
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Easymic - settings"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", IDOK, 158, 149, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 213, 149, 50, 14
}

IDD_SETTINGS_GENERAL DIALOGEX 0, 0, 260, 168
STYLE WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP | DS_SHELLFONT | DS_CONTROL
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
    CONTROL         "Start with Windows", IDC_SETTINGS_AUTOSTART, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,0,0,180,10
}

IDD_SETTINGS_INDICATOR DIALOGEX 0, 0, 260, 168
STYLE WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP | DS_SHELLFONT | DS_CONTROL
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
    CONTROL         "Exclude from capture", IDC_SETTINGS_INDICATOR_CAPTURE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,0,0,180,10
    CONTROL         "On top of all the windows (* administrator required)", IDC_SETTINGS_INDICATOR_ON_TOP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,0,11,180,10
    LTEXT           "Show while",IDC_STATIC,0,26,80,15
    COMBOBOX        IDC_SETTINGS_INDICATOR_COMBO,84,24,95,70,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_OVERLAPPED | WS_VISIBLE
    LTEXT           "Size (px)",IDC_STATIC,0,42,80,15
    CONTROL         "",IDC_SETTINGS_INDICATOR_SIZE_TRACKBAR,"msctls_trackbar32",TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_CHILD | WS_VISIBLE | TBS_TOOLTIPS,84,39,95,15
    LTEXT           "Volume threshold (%)",IDC_STATIC,0,59,70,15
    CONTROL         "",IDC_SETTINGS_INDICATOR_THRESHOLD_TRACKBAR,"msctls_trackbar32",TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_CHILD | WS_VISIBLE | TBS_TOOLTIPS,84,56,95,15
}

IDD_SETTINGS_SOUNDS DIALOGEX 0, 0, 260, 168
STYLE WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP | DS_SHELLFONT | DS_CONTROL
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "Microphone",IDC_STATIC,0,0,183,45

    LTEXT           "Volume",IDC_STATIC,7,15,80,15
    CONTROL         "",IDC_SETTINGS_SOUNDS_MIC_VOLUME_TRACKBAR,"msctls_trackbar32",TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_CHILD | WS_VISIBLE | TBS_TOOLTIPS,84,13,95,15
    CONTROL         "Keep volume always on this level", IDC_SETTINGS_SOUNDS_MIC_KEEP_VOLUME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,11,27,120,10
    GROUPBOX        "Bell",IDC_STATIC,0,45,183,74

    LTEXT           "Volume",IDC_STATIC,7,59,80,15
    CONTROL         "",IDC_SETTINGS_SOUNDS_BELL_VOLUME_TRACKBAR,"msctls_trackbar32",TBS_AUTOTICKS | TBS_ENABLESELRANGE | WS_CHILD | WS_VISIBLE | TBS_TOOLTIPS,84,57,95,15

    LTEXT           "Mute sound",IDC_STATIC,7,75,80,15
    COMBOBOX        IDC_SETTINGS_SOUNDS_MUTE_COMBO,84,74,77,70,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_OVERLAPPED | WS_VISIBLE
    CONTROL "...", IDC_SETTINGS_SOUNDS_MUTE_BROWSE, "Button", BS_PUSHBUTTON | WS_TABSTOP, 163, 74, 16, 13

    LTEXT           "Unmute sound",IDC_STATIC,7,90,80,15
    COMBOBOX        IDC_SETTINGS_SOUNDS_UNMUTE_COMBO,84,90,77,70,CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_OVERLAPPED | WS_VISIBLE
    CONTROL "...", IDC_SETTINGS_SOUNDS_UNMUTE_BROWSE, "Button", BS_PUSHBUTTON | WS_TABSTOP, 163, 90, 16, 13
}

IDD_SETTINGS_HOTKEYS DIALOGEX 0, 0, 260, 168
STYLE WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP | DS_SHELLFONT | DS_CONTROL
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
    LTEXT           "Double-click to set up a hotkey:", IDC_HOTKEYS_TITLE, 0, 0, 260, 10
    CONTROL         "", IDC_HOTKEYS_LIST, WC_LISTVIEW, LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP | WS_HSCROLL, 0, 15, 183, 104
}

IDD_SETTINGS_ABOUT DIALOGEX 0, 0, 260, 168
STYLE WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP | DS_SHELLFONT | DS_CONTROL
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
{
 CONTROL         "About", IDC_SETTINGS_AUTOSTART, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,14,63,120,10
}



/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION    1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEOS			VOS__WINDOWS32
 FILETYPE		VFT_APP
 FILESUBTYPE	VFT2_UNKNOWN
 FILEFLAGSMASK	0x00000000
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "CompanyName", "kitbyte"
            VALUE "FileDescription", "Easymic"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "WindowsP.exe"
            VALUE "LegalCopyright", "Copyright (C) 2024"
            VALUE "OriginalFilename", "Easymic.exe"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END

1 24 "app.manifest"