// SettingsWindow resources
#include "Resource.h"

/////////////////////////////////////////////////////////////////////////////
// Settings Window Dialog - Empty
/////////////////////////////////////////////////////////////////////////////